<%= render :partial => 'index_header' %>

<div class='container'>
  <h1>Welcome to Transit on Rails</h1>
  <p>This screen will show all the previously created screens. As well as providing links to edit/delete them
  and/or create new screens. Additionally, the user should have links to edit their profile etc. etc.</p>
</div>
