var block_template = "\
  <div class='block' id='block-{{= block.id }}' data-order='{{= block.order }}'>\
    {{= inner_block_template(block.type, block) }}\
  </div>\
";

var inner_block_template = function(blockType, block) {
  html = ''
  if (blockType == 'rail' || blockType == 'bus') {
    html = _.template(metro_bus_template, {block: block});
  }
  if (blockType == 'cabi') {
    html = _.template(cabi_template, {block: block});
  }
  return html;
}


function busDirection(destString) {
  var directionString = destString.match(/South to|North to/g);
  return directionString == 'North to' ? 'Northbound to:' : 'Southbound to:';
}

function busDestination(destString) {
  return destString.replace(/South to|North to/g, '');
}

var metro_bus_template = "\
  <div class='{{= block.type }}_container'>\
    <div class='{{= block.type }}_location'>\
      <div id='{{= block.type }}_logo'></div>\
      <h2>{{= block.name }}</h2>\
    </div>\
    <table id='{{= block.type }}_table'>\
      <tbody>\
      {{ for (var index = 0; index < block.vehicles.length; index++) { }}\
        {{ var vehicle = block.vehicles[index]; }}\
        <tr class='{{= block.type }}_table_module' id='block-1-vehicle-0'>\
          <td class='{{= block.type }}_table_line'>\
            <div class='{{= block.type }}_line {{= block.type }}_line_{{= vehicle.suffix }}_route'>\
              <h3>{{= vehicle.route_id }}</h3>\
            </div>\
          </td>\
          <td class='{{= block.type }}_table_destination {{= block.type }}_line_{{= vehicle.suffix }} dark transparent'>\
            {{ if (block.type === 'rail'){ }}\
              <h3>{{= vehicle.destination }}</h3>\
            {{ } else { }}\
              <h3>{{= busDirection(vehicle.destination) }}</h3>\
              <h4>{{= busDestination(vehicle.destination) }}</h4>\
            {{ } }}\
          </td>\
          <td class='{{= block.type }}_table_time'>\
            <h3>{{= vehicle.minutes }}</h3>\
            {{ if (block.type === 'rail'){ }}\
              <h4>MINUTES</h4>\
            {{ } else { }}\
              <span class='bus'>MINUTES</span>\
            {{ } }}\
          </td>\
          <td class='{{= block.type }}_table_upcoming'>\
          {{ if (vehicle.upcoming_vehicles.length) { }}\
            {{ for (var uindex = 0; uindex < vehicle.upcoming_vehicles.length; uindex++) { }}\
              <h4>{{= vehicle.upcoming_vehicles[uindex] }}</h4>\
            {{ } }}\
          {{ } }}\
        </td>\
        </tr>\
      {{ } }}\
      </tbody>\
    </table>\
  </div>\
";

var cabi_template = "\
<div class='{{= block.type }}_container'> \
  <table id='cabi_table'>\
    <tbody>\
      <tr class='cabi_header'>\
        <td colspan='2'>\
          <span class='cabi_icon'>&nbsp;</span>\
        </td>\
        <td class='bikes'>\
          <h4>BIKES</h4>\
        </td>\
        <td class='docks'>\
          <h4>DOCKS</h4>\
        </td>\
      </tr>\
      <tr class='cabi_data'>\
        <td class='pie'>\
        <img src='https://chart.googleapis.com/chart?cht=p&amp;chs=100x80&amp;chd=t:{{= block.bike_count }},{{= block.dock_count }}&amp;chco=ff0000|b3b3b3&amp;chf=bg,s,000000&amp;chp=1.58'>\
        </td>\
        <td class='cabi_location'>\
          <span class='cabi_dock_location'>{{= block.name }}</span>\
        </td>\
        <td>\
          <h3 class='cabi_bikes'>{{= block.bike_count }}</h3>\
        </td>\
        <td>\
          <h3 class='cabi_docks'>{{= block.dock_count }}</h3>\
        </td>\
      </tr>\
    </tbody>\
  </table>\
</div>\
";


